<a href="https://colab.research.google.com/github/sky4sam/deep-learning-challenge/blob/main/AlphabetSoupCharity_Optimization_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
print(unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
app_type_counts = application_df["APPLICATION_TYPE"].value_counts()
print(app_type_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 100
application_types_to_replace = app_type_counts[app_type_counts < cutoff].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: count, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df["CLASSIFICATION"].value_counts()
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
print(classification_counts[classification_counts > 1])

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff = 1500
classifications_to_replace = classification_counts[classification_counts < cutoff].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
dummy_data = pd.get_dummies(application_df).astype(int)
dummy_data.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [ ]:
# Split our preprocessed data into our features and target arrays
X = dummy_data.drop(columns=['IS_SUCCESSFUL'])
y = dummy_data['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.2)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features_total = len(X_train.columns)
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5

# Define the model
nn = tf.keras.models.Sequential()

# Input layer (explicit definition)
nn.add(tf.keras.layers.Input(shape=(input_features_total,)))

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"

 Layer (type)                          Output Shape                         Param #

 dense_3 (Dense)                       (None, 8)                                360

 dense_4 (Dense)                       (None, 5)                                 45

 dense_5 (Dense)                       (None, 1)                                  6

 Total params: 411 (1.61 KB)

 Trainable params: 411 (1.61 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
858/858  3s 2ms/step - accuracy: 0.6429 - loss: 0.6566
Epoch 2/100
858/858  3s 3ms/step - accuracy: 0.7230 - loss: 0.5749
Epoch 3/100
858/858  2s 2ms/step - accuracy: 0.7279 - loss: 0.5639
Epoch 4/100
858/858  2s 2ms/step - accuracy: 0.7311 - loss: 0.5570
Epoch 5/100
858/858  2s 2ms/step - accuracy: 0.7304 - loss: 0.5538
Epoch 6/100
858/858  3s 2ms/step - accuracy: 0.7269 - loss: 0.5557
Epoch 7/100
858/858  2s 2ms/step - accuracy: 0.7270 - loss: 0.5573
Epoch 8/100
858/858  3s 2ms/step - accuracy: 0.7308 - loss: 0.5505
Epoch 9/100
858/858  2s 2ms/step - accuracy: 0.7279 - loss: 0.5536
Epoch 10/100
858/858  3s 2ms/step - accuracy: 0.7317 - loss: 0.5498
Epoch 11/100
858/858  3s 2ms/step - accuracy: 0.7346 - loss: 0.5483
Epoch 12/100
858/858  3s 2ms/step - accuracy: 0.7297 - loss: 0.5487
Epoch 13/100
858/858  2s 3ms/step - accuracy: 0.7326 - loss: 0.5486
Epoch 14/100
858/858  2s 2ms/step - accuracy: 0.7306 - loss: 0.5481
Epoch 15/100
858/858  2s 2ms/step - accuracy: 0.7276 - loss: 0.5516
Epoch 16/100
858/858  3s 2ms/step - accuracy: 0.7273 - loss: 0.5504
Epoch 17/100
858/858  3s 2ms/step - accuracy: 0.7317 - loss: 0.5469
Epoch 18/100
858/858  2s 3ms/step - accuracy: 0.7328 - loss: 0.5466
Epoch 19/100
858/858  2s 2ms/step - accuracy: 0.7350 - loss: 0.5427
Epoch 20/100
858/858  2s 2ms/step - accuracy: 0.7283 - loss: 0.5499
Epoch 21/100
858/858  3s 2ms/step - accuracy: 0.7351 - loss: 0.5479
Epoch 22/100
858/858  3s 2ms/step - accuracy: 0.7334 - loss: 0.5461
Epoch 23/100
858/858  3s 2ms/step - accuracy: 0.7323 - loss: 0.5466
Epoch 24/100
858/858  2s 3ms/step - accuracy: 0.7329 - loss: 0.5465
Epoch 25/100
858/858  2s 2ms/step - accuracy: 0.7304 - loss: 0.5451
Epoch 26/100
858/858  2s 2ms/step - accuracy: 0.7353 - loss: 0.5414
Epoch 27/100
858/858  3s 2ms/step - accuracy: 0.7334 - loss: 0.5455
Epoch 28/100
858/858  2s 2ms/step - accuracy: 0.7305 - loss: 0.5452
Epoch 29/100
858/858  3s 3ms/step - accuracy: 0.7271 - loss: 0.5497
Epoch 30/100
858/858  4s 2ms/step - accuracy: 0.7326 - loss: 0.5481
Epoch 31/100
858/858  3s 2ms/step - accuracy: 0.7278 - loss: 0.5517
Epoch 32/100
858/858  3s 2ms/step - accuracy: 0.7300 - loss: 0.5463
Epoch 33/100
858/858  2s 2ms/step - accuracy: 0.7305 - loss: 0.5455
Epoch 34/100
858/858  2s 2ms/step - accuracy: 0.7319 - loss: 0.5439
Epoch 35/100
858/858  3s 2ms/step - accuracy: 0.7315 - loss: 0.5456
Epoch 36/100
858/858  4s 4ms/step - accuracy: 0.7319 - loss: 0.5455
Epoch 37/100
858/858  5s 4ms/step - accuracy: 0.7315 - loss: 0.5475
Epoch 38/100
858/858  4s 2ms/step - accuracy: 0.7300 - loss: 0.5503
Epoch 39/100
858/858  3s 2ms/step - accuracy: 0.7312 - loss: 0.5481
Epoch 40/100
858/858  2s 2ms/step - accuracy: 0.7342 - loss: 0.5432
Epoch 41/100
858/858  3s 3ms/step - accuracy: 0.7323 - loss: 0.5456
Epoch 42/100
858/858  2s 2ms/step - accuracy: 0.7320 - loss: 0.5472
Epoch 43/100
858/858  2s 2ms/step - accuracy: 0.7254 - loss: 0.5489
Epoch 44/100
858/858  3s 2ms/step - accuracy: 0.7330 - loss: 0.5455
Epoch 45/100
858/858  2s 2ms/step - accuracy: 0.7352 - loss: 0.5456
Epoch 46/100
858/858  3s 2ms/step - accuracy: 0.7352 - loss: 0.5428
Epoch 47/100
858/858  3s 3ms/step - accuracy: 0.7384 - loss: 0.5419
Epoch 48/100
858/858  2s 2ms/step - accuracy: 0.7309 - loss: 0.5465
Epoch 49/100
858/858  3s 2ms/step - accuracy: 0.7326 - loss: 0.5443
Epoch 50/100
858/858  3s 2ms/step - accuracy: 0.7302 - loss: 0.5502
Epoch 51/100
858/858  3s 2ms/step - accuracy: 0.7367 - loss: 0.5419
Epoch 52/100
858/858  3s 3ms/step - accuracy: 0.7322 - loss: 0.5456
Epoch 53/100
858/858  2s 2ms/step - accuracy: 0.7371 - loss: 0.5404
Epoch 54/100
858/858  3s 2ms/step - accuracy: 0.7351 - loss: 0.5439
Epoch 55/100
858/858  2s 2ms/step - accuracy: 0.7300 - loss: 0.5476
Epoch 56/100
858/858  3s 2ms/step - accuracy: 0.7362 - loss: 0.5374
Epoch 57/100
858/858  3s 3ms/step - accuracy: 0.7318 - loss: 0.5456
Epoch 58/100
858/858  2s 2ms/step - accuracy: 0.7329 - loss: 0.5460
Epoch 59/100
858/858  2s 2ms/step - accuracy: 0.7308 - loss: 0.5455
Epoch 60/100
858/858  3s 2ms/step - accuracy: 0.7370 - loss: 0.5387
Epoch 61/100
858/858  2s 2ms/step - accuracy: 0.7317 - loss: 0.5474
Epoch 62/100
858/858  3s 3ms/step - accuracy: 0.7331 - loss: 0.5450
Epoch 63/100
858/858  4s 2ms/step - accuracy: 0.7329 - loss: 0.5450
Epoch 64/100
858/858  2s 2ms/step - accuracy: 0.7296 - loss: 0.5449
Epoch 65/100
858/858  3s 2ms/step - accuracy: 0.7321 - loss: 0.5435
Epoch 66/100
858/858  2s 2ms/step - accuracy: 0.7309 - loss: 0.5472
Epoch 67/100
858/858  3s 3ms/step - accuracy: 0.7387 - loss: 0.5409
Epoch 68/100
858/858  2s 2ms/step - accuracy: 0.7370 - loss: 0.5392
Epoch 69/100
858/858  3s 2ms/step - accuracy: 0.7348 - loss: 0.5441
Epoch 70/100
858/858  3s 2ms/step - accuracy: 0.7353 - loss: 0.5401
Epoch 71/100
858/858  3s 2ms/step - accuracy: 0.7316 - loss: 0.5458
Epoch 72/100
858/858  3s 2ms/step - accuracy: 0.7302 - loss: 0.5464
Epoch 73/100
858/858  2s 2ms/step - accuracy: 0.7309 - loss: 0.5457
Epoch 74/100
858/858  3s 2ms/step - accuracy: 0.7327 - loss: 0.5454
Epoch 75/100
858/858  3s 2ms/step - accuracy: 0.7322 - loss: 0.5425
Epoch 76/100
858/858  3s 3ms/step - accuracy: 0.7344 - loss: 0.5433
Epoch 77/100
858/858  2s 2ms/step - accuracy: 0.7366 - loss: 0.5422
Epoch 78/100
858/858  2s 2ms/step - accuracy: 0.7350 - loss: 0.5412
Epoch 79/100
858/858  3s 2ms/step - accuracy: 0.7378 - loss: 0.5412
Epoch 80/100
858/858  3s 2ms/step - accuracy: 0.7339 - loss: 0.5438
Epoch 81/100
858/858  3s 2ms/step - accuracy: 0.7329 - loss: 0.5453
Epoch 82/100
858/858  3s 2ms/step - accuracy: 0.7327 - loss: 0.5455
Epoch 83/100
858/858  2s 2ms/step - accuracy: 0.7312 - loss: 0.5447
Epoch 84/100
858/858  3s 2ms/step - accuracy: 0.7343 - loss: 0.5458
Epoch 85/100
858/858  3s 2ms/step - accuracy: 0.7346 - loss: 0.5409
Epoch 86/100
858/858  2s 2ms/step - accuracy: 0.7321 - loss: 0.5452
Epoch 87/100
858/858  3s 2ms/step - accuracy: 0.7325 - loss: 0.5451
Epoch 88/100
858/858  2s 2ms/step - accuracy: 0.7340 - loss: 0.5430
Epoch 89/100
858/858  3s 2ms/step - accuracy: 0.7402 - loss: 0.5398
Epoch 90/100
858/858  2s 2ms/step - accuracy: 0.7331 - loss: 0.5450
Epoch 91/100
858/858  3s 2ms/step - accuracy: 0.7397 - loss: 0.5428
Epoch 92/100
858/858  3s 3ms/step - accuracy: 0.7373 - loss: 0.5420
Epoch 93/100
858/858  4s 2ms/step - accuracy: 0.7376 - loss: 0.5404
Epoch 94/100
858/858  2s 2ms/step - accuracy: 0.7371 - loss: 0.5433
Epoch 95/100
858/858  2s 2ms/step - accuracy: 0.7401 - loss: 0.5378
Epoch 96/100
858/858  3s 2ms/step - accuracy: 0.7327 - loss: 0.5484
Epoch 97/100
858/858  3s 3ms/step - accuracy: 0.7354 - loss: 0.5441
Epoch 98/100
858/858  2s 2ms/step - accuracy: 0.7357 - loss: 0.5428
Epoch 99/100
858/858  3s 2ms/step - accuracy: 0.7320 - loss: 0.5484
Epoch 100/100
858/858  3s 2ms/step - accuracy: 0.7389 - loss: 0.5401

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 1s - 3ms/step - accuracy: 0.4299 - loss: 0.7150
Loss: 0.7149962186813354, Accuracy: 0.4298833906650543

In [ ]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

# Confirm the model is saved
import os
if os.path.exists("AlphabetSoupCharity.h5"):
    print("Model saved successfully as AlphabetSoupCharity.h5")
else:
    print("Error: Model was not saved.")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

Model saved successfully as AlphabetSoupCharity.h5